@tailwind base;
@tailwind components;
@tailwind utilities;

.firstOpenMenu > ul{
    display: none;
}

.firstOpenMenu:hover > ul{
    display: unset;
}

.menu ul{
    display: none;
}

.menu:hover ul{
    display: unset;
}